<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/article.css">
    <link rel="stylesheet" href="./css/toast.css">
    <script src="./js/jq.js"></script>
</head>

<body>
    <div class="home">
        <%- include('./common/head.ejs') %>
            <div class="main">
                <div class="commont">
                    <div class="post" id="post">
                        <div class="postTitle">
                            这里是文章标题
                        </div>
                        <div class="postTime">

                        </div>
                        <div class="postCont">

                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
<script src="./lib/template-web.js"></script>
<script src="./js/toast.js"></script>
<script type="text/template" id="wztem">
    <div class="postTitle">
        {{data.title}}
    </div>
    <div class="postTime">
        #发布时间 {{data.ctime}}
    </div>
    <div class="postCont">
        {{@ data.cont }}
    </div>
</script>
<script>
    function getArticle() {
        let id = sessionStorage.getItem("myBlogId");
        if (!id) {
            $.Toast("文章获取失败", "即将跳转到首页", "error", {
                stack: true,
                has_icon: true,
                has_close_btn: true,
                fullscreen: false,
                timeout: 3000,
                sticky: false,
                has_progress: true,
                rtl: false,
            });
            setTimeout(function() {
                window.location = "/zy"
            }, 3000)

        }
        $.ajax({
            type: "get",
            url: "/blog/" + id,
            success: function(data) {
                let sHtml = template("wztem", data)
                $("#post").html(sHtml)
                $.Toast("成功", "文章获取成功", "success", {
                    stack: true,
                    has_icon: true,
                    has_close_btn: true,
                    fullscreen: false,
                    timeout: 3000,
                    sticky: false,
                    has_progress: true,
                    rtl: false,
                });
            }
        })
    }
    getArticle()
</script>

</html>