<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/reset.css">
    <title>登录</title>
    <style>
        .login {
            margin: 80px auto;
        }
        
        .login form {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="login">
        <form>
            <label for="">用户名：</label>
            <input type="text" name="username"> <br> <br>
            <label for="">密  码：</label>
            <input type="password" name="password"> <br> <br>
            <input type="button" value="登陆" id="btn">
        </form>
    </div>
</body>
<script src="./js/jq.js"></script>
<script>
    $('#btn').on("click", function() {
        $.ajax({
            type: "post",
            url: "/login",
            data: $("form").serialize(),
            success: function(data) {
                console.log(data);

                if (data.code != 200) {
                    alert(data.msg)
                } else {
                    sessionStorage.setItem("token", data.token)
                }

            }
        })
    })
</script>

</html>